
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "doc"]
	path = doc
	url = git@github.com:Jan-Piotraschke/nDTissue.git
[submodule "src/modules/2DTissue"]
	path = src/modules/2DTissue
	url = git@github.com:Jan-Piotraschke/2DTissue.git
[submodule "src/PinnTrainer"]
	path = src/PinnTrainer
	url = https://github.com/Jan-Piotraschke/PinnTrainer
